@charset "UTF-8";
/* CSS Document */

/*
---- START: Quote Style Rules ----
*/

#lab916-quote {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    height: 80vh;
}

#lab916-quote #lab916-progress-container {
    position: absolute;
    top: 160px;
    left: 22px;
}

#lab916-quote #lab916-progress-container div {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffcd0e;
    margin-top: 22px;
    transition: background-color 1s;
    cursor: pointer;
}

#lab916-quote #lab916-progress-container div.on {
    background-color: yellow;
}

/* - Intro slide - */
#lab916-quote .intro {
    position: absolute;
    top: 1400px;
    left: 300px;
    width: 890px;
    background: linear-gradient(0deg, #434343, #575757);
    padding: 12px;
    min-height: 450px;
    height: 100%;
}

#lab916-quote div#contact {
    position: absolute;
    top: 1400px;
    left: 300px;
    width: 60%;
}


/*
#lab916-quote .intro.inactive,
#lab916-quote .inactive.answered,
#lab916-quote #contact.inactive{
    top: 1200px;
}
*/

#lab916-quote .intro.inactive,
#lab916-quote .inactive.answered,
#lab916-quote #contact.inactive {
    top: -1200px;
}

/* - question slide - */
#lab916-quote .question {
    position: absolute;
    top: 1400px;
    left: 14%;
    width: 890px;
    min-height: 450px;
    height: 100%;
    background: linear-gradient(0deg, #434343, #575757);
    padding: 12px;
}

#lab916-quote .question .ans {
    display: inline-block;
    background-color: whitesmoke;
    padding: 8px;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    margin: 8px 8px;
    transition: all 0.1s linear;
}

#lab916-quote .question .ans.selected {
    border: solid thick #ffcd0e;
    background-color: #cccccc;
    box-shadow: 2px 4px 50px 10px rgba(0,0,0, 0.3);
    transition: all 0.1s linear;
}

#lab916-quote .active,
#lab916-quote .inactive {
    transition: top 0.7s linear;
}

/* ---- FEEDBACK ----*/
#lab916-quote .question.unanswered .feedback {
    transition: opacity 0.5s, margin-top 0.5s;
    visibility: hidden;
    opacity: 0;
}

#lab916-quote .question.answered .feedback {
    visibility: visible;
    transition: opacity 1.5s, margin-top 1.5s;
    opacity: 1;
    margin-top: 10px;
}

#lab916-quote .active {
    top: 50px !important;
}

#lab916-quote #contact.active {
    top: 10px !important;
}

/*
---- END: Quote Style Rules ----
*/




