<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Amazon Optimization Specialists">
    <meta name="author" content="Lab916">

    <title>Lab916 | Amazon Optimization Specialists</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this theme -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet'
          type='text/css'>

    <!-- Vendor CSS -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="vendor/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="vendor/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">
    <link href="device-mockups/device-mockups.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/lab916-yellow.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet">
</head>

<!--  style="overflow: hidden" -->
<body id="page-top" data-ng-app="quote">

<!-- Top Navigation -->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a href="http://lab916.wpengine.com/mock10" class="navbar-brand js-scroll-trigger">
            <img class="img-fluid" src="img/lab916-logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            Menu
        </button>


        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="http://lab916.wpengine.com/" class="nav-link js-scroll-trigger">Home</a>
                </li>

                <li class="nav-item">
                    <a href="http://lab916.wpengine.com/category/case-studies/" class="nav-link js-scroll-trigger">
                        Case Studies
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Hero Landing Area -->
<header class="masthead" style="background-image: url('img/agency/backgrounds/bg-header.jpg');">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto text-center text-white">
                <div class="masthead-title">Free Quote</div>
                <hr class="colored">
                <div class="masthead-subtitle">Animated interactive questionnaire</div>
            </div>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn js-scroll-trigger" href="#L9-quote-container">
            <i class="fa fa-angle-down fa-fw"></i>
        </a>
    </div>
</header>

<!-- Get A Quote Section -->
<section id="L9-quote-container" class="page-section">
    <div class="container-fluid">
        <div class="wow flipInY text-center">

            <!---------------------------------->
            <!-- Animated Quote Questionnaire -->
            <!---------------------------------->
            <section id="lab916-quote" data-ng-controller="QuoteCtrl as quote">

                <!-- Side Nav for the animated questionnaire -->
                <div id="lab916-progress-container">
                    <!-- ng-repeat begins -->
                    <div class="L9-indicator-row L9-mt20" ng-click="changeActiveQuestion($index)"
                         ng-repeat="question in myQuestions">
                        <div class="L9-circle {{($index === activeQuestion) ? 'on' : 'off'}}"></div>
                        <div class="L9-circle-txt"><span>{{question.shortenedQuestion}}</span></div>
                    </div>

                    <div class="L9-indicator-row L9-mt20" ng-click="changeActiveQuestion(myQuestions.length)">
                        <div class="L9-circle {{(myQuestions.length === activeQuestion) ? 'on' : 'off'}}"></div>
                        <div class="L9-circle-txt"><span>Send</span></div>
                    </div>

                    <br>

                    <!-- Continue Button -->
                    <div class="feedback">
                        <div class="btn btn-sm btn-info" ng-click="selectContinue()">
                            <strong>Continue</strong>
                        </div>
                    </div>
                </div>

                <!-- ng-repeat Looped Questions with inner looped Answers:  -->
                <div ng-repeat="question in myQuestions" class="question
                        {{ question.questionState === 'answered' ? 'answered' : 'unanswered' }}
                        {{ $index === activeQuestion ? 'active' : 'inactive' }}">

                    <!-- The Question -->
                    <h4 class="txt">{{ question.question }}</h4>

                    <div class="row">
                        <!-- ng-repeat inner loop -->
                        <div class="col-md-3" ng-repeat="answer in question.answers">
                            <!-- Extra Short Height Cards -->
                            <div ng-if="question.height === 'extra short'">
                                <div class="card ans height-extra-short"
                                     ng-class="{'selected': myQuestions[$parent.$parent.$index].answers[$parent.$index].optionIsSelected}"
                                     ng-click="selectAnswer($parent.$parent.$index, $parent.$index)">
                                    <div class="card-body">
                                        <p><i class="fa fa-camera fa-2x"></i></p>
                                        <p class="L9-mb-0">{{ answer.text }}</p>
                                        <!-- Forms -->
                                        <textarea ng-show="answer.type === 'textarea'"></textarea>
                                        <input type="text" ng-show="answer.type === 'input text'">
                                    </div>
                                </div>
                            </div>

                            <!-- Short Height Cards -->
                            <div ng-if="question.height === 'short'">
                                <div class="card ans height-short"
                                     ng-class="{'selected': myQuestions[$parent.$parent.$index].answers[$parent.$index].optionIsSelected}"
                                     ng-click="selectAnswer($parent.$parent.$index, $parent.$index)">
                                    <div class="card-body">
                                        <p><i class="fa fa-bus fa-2x"></i></p>
                                        <p>{{ answer.text }}</p>
                                        <!-- Forms -->
                                        <textarea ng-show="answer.type === 'textarea'"></textarea>
                                        <input type="text" ng-show="answer.type === 'input text'">
                                    </div>
                                </div>
                            </div>

                            <!-- Medium Height Cards -->
                            <div ng-if="question.height === 'medium'">
                                <div class="card ans height-medium"
                                     ng-class="{'selected': myQuestions[$parent.$parent.$index].answers[$parent.$index].optionIsSelected}"
                                     ng-click="selectAnswer($parent.$parent.$index, $parent.$index)">
                                    <div class="card-body">
                                        <p>{{ answer.text }}</p>
                                        <!-- Forms -->
                                        <textarea ng-show="answer.type === 'textarea'"></textarea>
                                        <input type="text" ng-show="answer.type === 'input text'">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 3) Contact Form: -->
                <div id="contact" ng-class="{'active' : (activeQuestion === myQuestions.length) }">
                    <div class="text-center">
                        <p class="text-center">Please tell us about you and we will help you.</p>
                    </div>
                    <div class="L9-form-container">
                        <form>
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">

                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                            <label for="country">Country</label>
                            <select id="country" name="country">
                                <option value="australia">Australia</option>
                                <option value="canada">Canada</option>
                                <option value="usa">USA</option>
                                <option value="usa">China</option>
                                <option value="usa">Britain</option>
                            </select>

                            <label for="lname">Email</label>
                            <input type="text" id="email" name="lastname" placeholder="Email">

                            <label for="subject">Message</label>
                            <textarea id="subject" name="subject" placeholder="Write something.."
                                      style="height:150px"></textarea>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer" style="background-image: url('img/agency/backgrounds/bg-footer.jpg')">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 footer-contact-details">
                <h4>
                    <i class="fa fa-phone"></i>
                    Smart Keywords
                </h4>
                <p>Let us figure out exactly what phrases customers use to search for your product</p>
            </div>
            <div class="col-md-4 footer-contact-details">
                <h4>
                    <i class="fa fa-map-marker"></i>
                    Smart Ads
                </h4>
                <p>We utilize the most specialized intelligent context targeting</p>
            </div>
            <div class="col-md-4 footer-contact-details">
                <h4>
                    <i class="fa fa-envelope"></i>
                    High Conversion Rates
                </h4>
                <p>
                    We've spent years getting this down to an exact science.
                </p>
            </div>
        </div>
        <div class="row footer-social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-facebook fa-fw fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-twitter fa-fw fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-linkedin fa-fw fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">&copy; Lab916 Sacramento, California</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="vendor/owl-carousel/owl.carousel.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/vide/jquery.vide.min.js"></script>
<script src="vendor/mixitup/mixitup.min.js"></script>
<script src="vendor/wowjs/wow.min.js"></script>

<!-- AngularJS -->
<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-animate.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/contact_me.js"></script>
<script src="js/jqBootstrapValidation.js"></script>

<!-- Custom scripts for this theme -->
<script src="js/lab916.js"></script>

<!-- This is the Actual "Get a quote" ng code for lab916 -->
<script src="app.quote.js"></script>


</body>

</html>
